.preloader {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.preloader-FIT {
  width: 100%;
  height: 100%;
}

.preloader-SMALL {
  width: 1em;
  height: 1em;
}

.preloader-LARGE {
  width: 4em;
  height: 4em;
}
